$max-width: 1400px;
*{
    box-sizing: border-box;
}
body{
    background-color: #0071a8;
}
a{
    display: block;
    text-decoration: none;
}
@mixin background-img ($image, $first-position, $back-size){
    background-image: url(../img/#{$image});
    background-position: $first-position center;
    background-repeat: no-repeat;
    background-size: $back-size;
}
@mixin center(){
    max-width: $max-width;
    margin: 0 auto;
}
@mixin font($color, $font-size){
    font-family: "Open Sans";
    color: $color;
    font-size: $font-size;
}
@mixin flex($justify-content){
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-content;
}
.flex{
    @include flex(space-between);
    margin: 0 auto;
}