footer{
    background-color: #f2f2f2; 
    .flex{
        max-width: 660px;
        padding: 3em 0 2em; 
        margin: 0 auto;
    }
    .icon{
        @include font(#000000, 14px);
        padding-left: 2.3em;
        line-height: 20px;
    }
    .velcom{
        @include background-img('velcom-icon.png', left, contain);
    }
    .mts{
        @include background-img('mts-icon.png', left, contain);
    }
    .tel{
        @include background-img('tel-icon.png', left, contain);
    }
}

@media screen and (max-width:850px){
    footer{
       .flex{
            justify-content: center;
            .icon{
                padding-right: 2em;
            }
       }
    }
}