.mods{
    width: 26%;
    height: 100%;
}
.mod1, .mod2{
    background-color: #3e8600;
    @include font(#ffffff, 16px);
    display: flex;
    padding: 1.5em 0 1.5em 1em;
    .center{
        text-align: center;
        position: relative;
    }
       .mod-info{
        padding-top: 1.1em;
        text-align: center;}
   
    .mod-text{
        @include font(#ffffff, 23px);
        transform: rotate(-90.0deg);
        margin: 0;
        margin: auto;
    }
    .warranty{
        position: absolute;
        right: 0;
        top: 0;
        font-family: "Arial";
        color: #2e2503;
        font-size: 11px;  
        @include background-img('warranty-back.png', center, contain);
        width: 8em;
        padding: 1.5em;
        padding-bottom: 2em;
        p{
            margin: 0px;
        }
        .warranty-number{
            font-size: 18px;
            font-weight: bold;              
        }
    }
}
.mod1:hover, .mod2:hover{
    background-color: #50ac00
}
.warranty:hover{
    @include background-img('warranty-hover.png', center, contain);
}

@media screen and (max-width: 1250px){
    .mods{
       display: flex;
       @include center();
        width: 50%;
    }
}