.order{
    background-color: #ffffff;    
    form{
        @include center();
    }
    .flex-diametr{
        max-width: 865px;
    }
    h3{
        @include font(#444242, 30px);
        text-align: center;
        margin: 0;
        padding: 2em 0;
    }
    .radio-label{
        display: inline-block;
        text-align: center;
    }
    .radio-label:hover>* {
        cursor: pointer;
    }
    label {
        padding: 2em 0.5em 0.5em 0;
        @include background-img('ellipse.png', top, auto);
        background-position: center 10%;
        @include font(#4d4d4d, 18px);
    }
    input {
        opacity: 0;
    }
    .radio:checked + label{
        @include background-img('ellipse-cheked.png', top, auto);
        @include font(#0071a8, 25px);
    }
    .flex{
        justify-content: space-around;
    }
    .model{
        margin-top: 40px; 
        p{
             @include font(#0071a8, 26px);
             font-weight: bold;
             margin: 0;
        }
    }
    .hit{
        @include font(#4d4d4d, 17px);
        line-height: 25px;
        @include background-img('hit.png', left, auto);
        padding-left: 1.7em;
        margin: 3em 0 1.7em;
    }
    .advantages{
            list-style-type: none;
            padding: 0;
            padding-bottom: 40px;
        li{
            @include font(#4d4d4d, 14px);
        }
        li:before{
            content: '•';
            color: #ffcd07;
            padding-right: 1em;
        }
    }
    .cost-submit{
        @include flex(space-between);
        padding: 30px 0;
        border-top: 1px solid #e6e6e6;
    }
    .cost{
        p{
            @include font(#000000, 30px);
            font-weight: bold;
            margin: 0;
            padding-right: 2.6em;
        }
    }
    button{
        @include flex(center);
        border: none;
        outline: none;    
        border-radius: 2px;    
        @include font(#000000, 18px);
        font-weight: bold;
        background: linear-gradient(to right,  #ffcd07 0%,  #ffcd07 70%,  #ff9f07 70%,  #ff9f07 100%);
        .button-arrow{
            @include background-img('button-arrow.svg', 90%, auto);
            padding: 1em 4.3em 1em 1.6em;
        }
    }
    button:hover{
        cursor: pointer;
    }
    .right{
        overflow: hidden;
    }
}
@media screen and (max-width: 931px){
    .order-big{
        display: none;
    }
}
