.order-small{
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 930px;
    min-width: 320px;
    select{
        width: 280px;
        @include font(#777777, 15px);
        padding: 0.7em 0.5em;
    }
    .hit{
        margin: 2.3em 0 0;
    }
    .order-small-img{
        max-width: 300px;
    }
    .order-small-cost-submit{
        @include flex(center);
        max-width: 320px;
        button{ 
            @include font(#000000, 15px);
            background: linear-gradient(to right,  #ffcd07 0%,  #ffcd07 70%,  #ff9f07 70%,  #ff9f07 100%);
            .button-arrow{
                @include background-img('shopping-bag.png', 93%, auto);
                font-weight: bold;
                padding: 1em 3.8em 1em 0.7em;
            }
        }
        .cost{
            p{
                @include font(#000000, 18px);
                font-weight: bold;
                padding-right: 0;
                margin: 0;
            }
        }
    }
    .center{
        margin: 0 auto;
        max-width: 320px;
    }
}

@media screen and (min-width: 932px){
    .order-small{
        display: none;
    }
}