.short-info{
    @include flex(space-around);
    max-width: $max-width;
    .short-info-photo{
        width: 50%;
        height: inherit;
        @include background-img('short-info-photo.png', center, cover);
    }
    .short-info-text{
        background-color: #0071a8;
        width: 50%;
        text-align: center;
        padding: 6.4vw 5.8vw 11.1vw;
        .image{
            height: 92px;
            @include background-img('short-info-text-img.svg', center, auto);
        }
        h2{
            margin-top: 1.74em;
            @include font(#ffffff, 50px);
        }
        p{
            @include font(#ffffff, 20px);
        }
    }
}

@media screen and (max-width: 800px){
    .short-info{
        .short-info-text{
            h2{
              @include font(#ffffff, 30px);
            }
        }
    }
}
@media screen and (max-width: 550px){
    .short-info{
         .short-info-photo{
            display: none;
        }
        .short-info-text{
            width: 100%;
        }   
    }
}