.top{
     @include background-img ('top-background.png', center, cover); 
    height: 100vh;
    min-height: 570px;
    }
.tonner{
    background: linear-gradient(to top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 20%);
    @include center;
    padding: 2.64vw 5vw;
    height: 100vh;
    min-height: 570px;
        h1{
        @include font(#ffffff,110px);
        margin-bottom: 0;
    }
    p{
        @include font(#ffffff,45px);
        max-width: 420px;
        margin-top: 0.78em;
    }
    .anchor{
        display: block;
        background-color: #ffffff;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        @include background-img ('anchor.svg', center, auto);
        @include center;
    }
}
@media screen and (max-width: 440px){
    .tonner{
        h1{
            font-size: 80px;
        }
        p{
            font-size: 30px;
        }
    }
}